<% provide(:title, 'Acerca de') %>

		<h1>Acerca de</h1>
			<p>
			La aplicacion Sample App ha sido desarrollada por el curso de Ruby on Rails de la <a href="http://www.ute.edu.ec/index.aspx?idSeccion=33&idCategoria=99&idPortal=1">Universidad Tecnologica Equinoccial</a>
			2014
			</p>
