<% provide(:title, 'Pagina de inicio') %>

		<h1>Sample App</h1>
		<p>
			Esta es la pagina de inicio de la aplicacion Sample App desarrollada para el curso de Ruby on Rails de la <a href="http://www.ute.edu.ec/index.aspx?idSeccion=33&idCategoria=99&idPortal=1">Universidad Tecnologica Equinoccial</a>
		</p>
