



<div class="center hero-unit">
	<h1>Bienvenido a la aplicacion de prueba</h1>
	<h2>Pagina de Inicio para la aplicacion Sample App desarrollada en el curso de Ror de la <a href="http://www.ute.edu.ec/index.aspx?idSeccion=33&idCategoria=99&idPortal=1">Universidad Tecnologica Equinoccial</a>
	</h2>

	<%= link_to "Registrate!", '#', class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("logoute.jpg", alt:"Universidad Tecnologica Equinoccial"), 'http://www.ute.edu.ec/index.aspx?idSeccion=33&idCategoria=99&idPortal=1' %>