



<footer class="footer">
	<small>
		<a href="http://www.ute.edu.ec/index.aspx?idSeccion=33&idCategoria=99&idPortal=1">Universidad Tecnologica Equinoccial</a> Quito - Ecuador
	</small>
	<nav>
		<ul>
			<li><%= link_to "Acerca de", acerca_de_path %></li>
			<li><%= link_to "Contacto", contacto_path %></li>
		</ul>
	</nav>
</footer>	